/* CSS Document */

a {
	color: #a13d00; /* CMS Link Font Color */
	text-decoration: none; /* CMS Link Text Decoration */
	/* Perubahan pertama */
	/* Perubahan ketiga */
	/* Perubahan kelima */
}
a:hover {
	color: #515355; /* CMS Link Hover Font Color */
	text-decoration: underline; /* CMS Link Hover Text Decoration */
}

